{% extends "openaccess/base.html" %}

{% load staticfiles %}

{% block content %}

<section class="infobar">
<div class="container">
  <h3>Contact</h3>
</div>
<div class="container">
     <div class="row">
          <div class="col-md-8">
               <div class="body">
                    <p> For troubleshooting, feature requests, and general help, contact with IFCA HelpDesk by sending an e-mail to grid.support@ifca.unican.es</p>
                    <p> Please make sure to include every possible detail about your problem (date, what were you trying to do, errors obtained, etc.)</p>
               </div>
          </div>
     </div>
</div>
</section>

{% endblock %}
