{% extends "openaccess/base.html" %}

{% load staticfiles %}

{% block content %}

<section class="infobar">
<div class="container">
  <h3>Terms of Use</h3>
</div>
<div class="container">
     <div class="row">
          <div class="col-md-10">
               <div class="body">
                    <p>CMS OpenData Portal at ifca.es meets the CERN OpenData Portal <a href="http://opendata.cern.ch/terms-of-use">terms of use</a>.<p>
               </div>
          </div>
     </div>
</div>
</section>

{% endblock %}
